<h1>WELCOME <%= @user.username.upcase %>!<br></h1><br>

<br><br>
<%if @user.horses.empty?%>   
<h2><%="You do not have any horses in your stable."%></h2>
  <%else%>

<h2><%="Below you will find the list of horses in your stable:"%></h2>
<% @user.horses.each do |horse| %>
<ol>
  <li><a href="/horses/<%=horse.id%>"><%= horse.name %></a></li>
</ol>
<% end %>
<%end%> 

<br><br>

<a href="/horses/new">Add a horse</a><br><br>

<a href="/">Go to Sinatra Stables home page.</a><br><br>

<a href="/logout">Logout</a> of your stable.<br><br>



