<div class="container">
<h1> Welcome to Sinatra Stables </h1>
 <img 
  src="/images/anna-kaminova-stables-unsplash.jpg" 
  class="img-responsive main-image"
  title="stables"
  width="80%" 
  height="50%"
  >
  <div class="col-md-8 col-md-offset-2">
    <h2>Board your horses at Sinatra stables!</h2><br>

    <div class="content">
    Here you can board your horses at Sinatra stables. <br><br>
    
    These stables are used by real-life horse owners to help them keep track of what horses they have in their lives. <br><br>
    
    Scroll down to view the current list of horses and owners at Sinatra stables. <br><br>
    Please note that only owners of the individual horses can view and edit their pages.<br><br> 
    
    To join Sinatra Stable, <a href="/signup">Sign Up</a>. If you are already a member, then <a href="/login">Log In</a>.
    <br><br>
  </div>

  <br><br> <br><br> <br><br> <br><br> <br><br> <br><br><br><br>

    <h3>All horses currently boarding at Sinatra Stables:</h3>
    <ol>
    <% @horses.each.with_index(1) do |horse, index| %>
      <li><a href="/horses/<%=horse.id%>"><%=index%>. <%=horse.name%></a> owned by <%=horse.user.username%></li><br>
    <%end%>
    </ol>

    <br><br>

    <h3>The list of top horse riders that keep their horses at Sinatra Stables:</h3><br>
    <ol>
    <% @users.each.with_index(1) do |user, index| %>
      <li><%=index%>. <%=user.username%></li><br>
    <%end%>
    </ol>

    <br><br>
   
    
    

    

  </div>
</div>
